<!DOCTYPE html>
<html lang="en">
<head>
  <title>Finance Tools - Retirement Calculator</title>
  <%- await include('../_partials/header.partial.ejs') %>
  <link rel="stylesheet" href="<%- ctx.styles.include('../global.scss') %>">
  <link rel="stylesheet" href="<%- ctx.styles.include('./index.scss') %>">
  <script type="module" async defer src="<%- ctx.scripts.include('./index.tsx') %>"></script>
</head>
<body class="page-retirement"></body>
</html>