<!DOCTYPE html>
<html lang="en">
<head>
  <title>Finance Tools</title>
  <%- await include('./_partials/header.partial.ejs') %>
  <link rel="stylesheet" href="<%- ctx.styles.include('./global.scss') %>">
</head>
<body class="page-home">
  <ul>
    <li><a href="retirement">Retirement Fund Calculator</a></li>
  </ul>
</body>
</html>
